<template>
  <div class="Iyric-Page" @click="chufa">
    <div class="Itric-header" ref='LyricBox' >
        <p v-for="(iyrics,index) in iyricSplit" :key="index"   
        :class="{LyricIsOnActive:(audioCurrentTime*1000>=iyrics.currentTime&&audioCurrentTime*1000<iyrics.nextTime)}"
        >
            {{iyrics.iyric}}
        </p>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
    computed:{
        ...mapState('Lyric',['iyric','audioCurrentTime']),
        iyricSplit(){
            if(this.iyric){
                // 获取歌曲每段歌词的播放的时间
                let iyrics=this.iyric.split(/[\r\n]+/)
                let timesArr=iyrics.map((item,index,arr)=>{
                    let min=item.slice(1,3)
                    let sec=item.slice(4,6)
                    let msec=item.slice(7,10)
                    let currentTime=parseInt(min)*60*1000+parseInt(sec)*1000+parseInt(msec)
                    let iyric=item.slice(11)
                    let nextTime
                    if(index<arr.length-1){
                        let nextItem=arr[++index] 
                        let min=nextItem.slice(1,3)
                        let sec=nextItem.slice(4,6)
                        let msec=nextItem.slice(7,10)
                        nextTime=parseInt(min)*60*1000+parseInt(sec)*1000+parseInt(msec)
                    }
                    return {currentTime,iyric,nextTime}
                })
                 return timesArr
            }
            else{
                return '正在获取歌词'
            }
        }
    },
    watch:{
        audioCurrentTime(){
            let pActive=document.querySelector('p.LyricIsOnActive')
            if(pActive.offsetTop>=175){
                this.$refs.LyricBox.scrollTop=pActive.offsetTop-175
            }
        }
    },
    setup(props,context){
        function chufa(){
            context.emit('clickIyric')
        }
        return {
            chufa,
        }
    },
}
</script>

<style lang="less" scoped>

.Iyric-Page{
    width: 100%;
    height: 8rem;
    overflow: auto;
    .Itric-header{
        width: 80%;
        margin: 0 auto;
        height: 8rem;
        overflow: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        p{
            font-size: .32rem;
            text-align: center;
            margin-bottom: .2rem;
            color: rgb(222, 216, 216);
        }
        p.LyricIsOnActive{
            font-size:.4rem;
            white-space: pre-wrap;
            color: rgb(234, 234, 236);
        }
    }
}

</style>