<template>
 <div class="play-frame-footer">
        <svg class="icon icon2" aria-hidden="true" >
            <use xlink:href="#icon-danquxunhuan-copy" @click="danqu"></use>
        </svg>
        <svg class="icon icon2" aria-hidden="true" @click="shang">
            <use xlink:href="#icon-shangyishoushangyige"></use>
        </svg>
        <svg class="icon" aria-hidden="true" @click="bofang" v-if="!isPlay">
            <use xlink:href="#icon-bofang-copy"></use>
        </svg>
        <svg class="icon" aria-hidden="true" @click="bofang" v-else>
            <use xlink:href="#icon-bofang1"></use>
        </svg>
        <svg class="icon icon2" aria-hidden="true" @click="xia">
            <use xlink:href="#icon-xiayigexiayishou"></use>
        </svg>
        <svg class="icon icon2" aria-hidden="true">
            <use xlink:href="#icon-bofang-xunhuanbofang"></use>
        </svg>
 </div>
</template>

<script>
import { useStore } from 'vuex'
import PubSub from 'pubsub-js'
export default {
    props:['isPlay','bofang'],
    setup(props){
        const store=useStore()
        function shang(){
            store.commit('footerPlaylist/setIsPlay',false)
            store.commit('footerPlaylist/minIndex')
            PubSub.publish('bofang')
        }
        function xia(){
            store.commit('footerPlaylist/setIsPlay',false)
            store.commit('footerPlaylist/plusIndex')
            PubSub.publish('bofang')
        }
        function danqu(){
            store.dispatch('footerPlaylist/updateIndex',)
        }
        return {
            shang,
            xia,danqu
        }
    }
}
</script>

<style lang='less' scoped>
.play-frame-footer{
    position: absolute;
    bottom: 0;
    z-index: 3rem;
    left: 0;
    right: 0;
    width: 85%;
    height: 1.6rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .icon{
        width: .66rem;
        height: .66rem;
    }
}
</style>