<template>
<img :src="musicImag" alt="">
    <div class="paly-frame-header">
        <div class="play-header-left">
            <svg class="icon" aria-hidden="true" @click="backToDetail">
                <use xlink:href="#icon-zuojiantou1"></use>
            </svg>
        </div>
        <div class="header-left-context">
            <Vue3Marquee style="color:#fff;fontSize:.34rem">{{playListDetail.name}}</Vue3Marquee>
            <div class="singer">
                <p v-if="playListDetail.ar">{{singJoin(playListDetail.ar)}}</p>
                <p v-else>hzy</p>
                <svg class="icon" aria-hidden="true" >
                    <use xlink:href="#icon-youjiantou2"></use>
                </svg>
            </div>
        </div>
        <div class="play-header-right">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-fenxiang"></use>
            </svg>
        </div>
    </div>
</template>

<script>
import { Vue3Marquee } from 'vue3-marquee'
import 'vue3-marquee/dist/style.css'
import { mapMutations } from 'vuex'
import singJoin from '@/plugins/singerJion'
export default {
    props:['playListDetail','musicImag'],
    methods:{
        ...mapMutations('footerPlaylist',['updateShowRight']),
        backToDetail(){
            this.updateShowRight()
        },
        singJoin
    },components:{
        Vue3Marquee
    }
}
</script>

<style lang='less' scoped>
img{
    position: absolute;
    z-index: -2rem;
    height: 100%;
    width: 100%;
    filter: blur(.9rem);
}
.paly-frame-header{
    position: relative;
    z-index: 2rem;
    width: 100%;
    height: 1.1rem;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .2rem;
    .play-header-left{
        height: 100%;
        display: flex;
        align-items: center;
        &>.icon{
            width: .72rem;
            height: .62rem;
        }
    }
    .header-left-context{
            color: white;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .singer{
                width: 2rem;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                font-size: .26rem;
            }
        }
    .play-header-right{
        
    }
}
</style>