<template>
<div class="play-frame-center">
    <div class="imgs" v-show="show">
        <img :src="musicImag" alt="" class="musical-img" >
        <img src="@/assets/playFrameimage/yuan.png" alt="" class="yuan" @click="showIyric">
        <img src="@/assets/playFrameimage/needle-ab.png" alt="" :class="noodleClass" class="noodles">
    </div>
    <IyricPage v-show="!show" @clickIyric="showIyric"/>
    <div class="play-frame-footer">
        <svg class="icon icon2" aria-hidden="true">
            <use xlink:href="#icon-aixin"></use>
        </svg>
        <svg class="icon icon2" aria-hidden="true">
            <use xlink:href="#icon-xiazai"></use>
        </svg>
        <svg class="icon icon2" aria-hidden="true">
            <use xlink:href="#icon-yinlechangpian"></use>
        </svg>
        <svg class="icon icon2" aria-hidden="true">
            <use xlink:href="#icon-iconfontzhizuobiaozhun023110"></use>
        </svg>
        <svg class="icon icon2" aria-hidden="true">
            <use xlink:href="#icon-gf-playlist2"></use>
        </svg>
    </div>
</div>
</template>

<script>
import { onMounted, onUpdated, reactive,ref} from 'vue'
import IyricPage from '@/components/playFramePop/IyricPage.vue'
export default {
    props:['isPlay','playListDetail','musicImag'],
    components:{IyricPage},
    setup(props){
        let noodleClass=reactive({
            noodle:false,
            noodleActive:true
        })
        let show=ref(true)
        function showIyric(){
            show.value=!show.value
        }
        onUpdated(()=>{
            if(props.isPlay){
                noodleClass.noodle=false
                noodleClass.noodleActive=true
            }
            else{
                noodleClass.noodle=true
                noodleClass.noodleActive=false
            }
        })
        onUpdated(()=>{
        }
        )
        return{
            noodleClass,
            showIyric,
            show,
        }
    }
}
</script>

<style lang='less' scoped>
.play-frame-center{
    overflow: hidden;
    position: relative;
    z-index: 2rem;
    height: 10rem;
    margin-top: .3rem;
    .noodle{
        transform: translateX(40%) rotateZ(-22deg);
    }
    .noodles{
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 2.3rem;
        z-index: 30rem;
        // transform: scale(-1,-1);镜像翻转
        transform-origin: 0 0 ;
        transition:transform 0.6s ease-in 0s ;
    }
    .noodleActive{
        transform: rotateZ(2deg) translateX(40%) ;
    }
    .yuan{
        width: 5rem;
        position: absolute;
        z-index: -1rem;
        left: 0;
        right: 0;
        margin: 2rem auto 0;
    }
    .musical-img{
        position: absolute;
        width: 4rem;
        left: 0;
        right: 0;
        margin: 2.6rem auto 0;
        border-radius: 50%;
    }
    .play-frame-footer{
        position: absolute;
        bottom: 0;
        height: 2.2rem;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        z-index: 20rem;
    }
}

</style>