<template>
    <div class="musical-detail-header-box clearfix">
        <img :src="coverImgUrl" alt="" id="backimg">
        <div class="musical-detail-top-bar">
            <div class="top-left-bar">
                <svg class="icon" aria-hidden="true" @click='backward'>
                    <use xlink:href="#icon-zuojiantou1"></use>
                </svg>
                <span>歌单</span>
            </div>
            <div class="top-right-bar">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-sousuo-copy"></use>
                </svg>
                <svg class="icon" :width='15' aria-hidden="true">
                    <use xlink:href="#icon-liebiao"></use>
                </svg>
            </div>
        </div>
        <div class="musical-detail-center-bar">
            <div class="center-left-bar">
                <img :width='100' :src="coverImgUrl" alt="">
            </div>
            <div class="center-right-bar">
                <span id="pname">{{name}}</span>
                <div class="imgspan">
                    <img :src="musicalDetailTop.creators.avatarUrl" alt="">
                    <div>
                        <span>{{musicalDetailTop.creators.nickname}}</span>
                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-xiangyoujiantou"></use>
                        </svg>
                    </div>
                </div>
                <p class="description">{{description}}</p>
            </div>
        </div>
        <div class="musical-detail-footer-bar">
            <div class="x">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-iconfontzhizuobiaozhun023110"></use>
                </svg>
                <span>{{musical_detail.commentCount}}</span>
            </div>
            <div class="x"><svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-fenxiang"></use>
            </svg> <span>{{musical_detail.shareCount}}</span></div>
            <div class="x"><svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-xiazai1"></use>
            </svg><span>下载</span></div>
            <div class="x"><svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-show_duoxuan"></use>
            </svg><span>多选</span></div>
            
        </div>
    </div>
</template>

<script>
import { reactive, watch } from 'vue'
export default {
    props:['description','name','coverImgUrl','musical_detail'],
    setup(props){
        // if((props.musical_detail.creator='')){
        //     props.musical_detail.creator=JSON.parse(sessionStorage.getItem('musical_detail')).creator
        // }
        let musicalDetailTop=reactive({
            creators:{}
        })
        watch(()=>props.musical_detail.creator,function(n,o){
            musicalDetailTop.creators=n
        },{deep:true})
        return {
            musicalDetailTop
        }
    },
    methods:{
        backward(){
            this.$router.back()
        }
    }
}
</script>

<style lang='less' scoped>
.clearfix::before{
    content:'';
    display:table;
    clear: both;
}
.musical-detail-header-box{
    width: 100%;
    height: 6rem;
    // padding: 0 .1rem;
    position: relative;
    color: aliceblue;
    img#backimg{
        width: 100%;
        height: 115%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -100;
        filter:blur(16px);
    }
    .musical-detail-top-bar{
        // position: fixed;
        padding:.24rem 0rem .26rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .top-left-bar{
            width: 1.66rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            span{
                font-size: .36rem;
                color: whitesmoke;
            }
            .icon{
                width: .6rem;
            }
        }
        .top-right-bar{
            width: 1.8rem;
            display: flex;
            justify-content: space-around;
            align-items: center;
            .icon{
                width: .46rem;
            }
        }
    }
    .musical-detail-center-bar{
        display: flex;
        justify-content: space-around;
        align-items:stretch;
        font-size: .24rem;
        height: 56%;
        margin: .16rem  0 .2rem;
        overflow: hidden;
        .center-left-bar{
            img{
                width: 3.2rem;
                border-radius: .2rem;
                margin-left: .08rem;
                transform: translateY(2%);
            }
        }
        .center-right-bar{
            width: 51%;
            display: flex;
            flex-direction: column;
            justify-content:space-between;
            .description{
                width: 100%;
                height: 16%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                padding-bottom: .18rem;
                font-size: .27rem;
            }
            span#pname{
                font-size: 0.38rem;
                color: rgb(227, 240, 227);
            }
            .imgspan{
                height: .8rem;
                position: relative;
                img{
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    margin:auto 0;
                    width: .6rem;
                    border-radius:50% ;
                }
                div{
                    width: 100%;
                    height: 100%;
                    margin-left: .9rem;
                    span{
                        display: inline-block;
                        width: 2rem;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        display: inline-block;
                        line-height:.8rem;
                        // line-height:100%;
                        font-size: .28rem;
                    }
                    .icon{
                        width: .26rem;
                        margin-left: .08rem;
                        transform: translateY(-30%);
                    }
                }
                
            }
        }
    }
    .musical-detail-footer-bar{
        width: 100%;
        padding:.2rem  0 0.3rem;
        display: flex;
        justify-content: space-around;
        .x{
            width: .7rem;
            height: 1rem;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            align-content: space-between;
            .icon{
                width: .42rem;
                fill:aliceblue;
            }
        }
        
    }
}
</style>