<template>
  <div class="song-list-box">
    <div class="song-list-header">
        <div class="left-header">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-bofang"></use>
            </svg>
            <span> <b> 播放全部</b><span>(共{{songList.tracks.length}}首歌)</span></span>
        </div>
        <div class="right-header">
            <svg class="icon" aria-hidden="true">subscribedCount
                <use xlink:href="#icon-jiahao1"></use>
            </svg>
            <span><b>收藏</b>   {{transiMillion1(subscribedCount)}}</span>
        </div>
    </div>
    <div class="song-list-mian">
        <van-cell-group :border='false'>
            <van-cell  v-for="(item,index) in songList.tracks" :key="item.id"
               :border="false" @click="updatePlayList(index)">
                <template #title>
                    <span class="index">{{index+1}}</span>
                    <span>{{item.name}}</span>
                </template>
                <template #label>
                    <span>{{singJoin(item.ar)}} </span>
                </template>
                <template #right-icon>
                    <svg class="icon" aria-hidden="true" v-if="item.mv">
                        <use xlink:href="#icon-MV-copy-copy"></use>
                    </svg>
                    <svg class="icon" aria-hidden="true" v-if='true'>
                        <use xlink:href="#icon-gengduo"></use>
                    </svg>
                </template>
            </van-cell>
        </van-cell-group>
    </div>
  </div>
</template>

<script>
import singJoin from '@/plugins/singerJion'
import { onMounted, reactive, watch } from 'vue'
import transiMillion1 from '@/plugins/transiMillion'
import { mapActions, mapMutations } from 'vuex'
import PubSub from 'pubsub-js'
export default {
    props:['musical_detail','subscribedCount'],
    methods:{
        ...mapActions('footerPlaylist',['updateIndex']),
        ...mapMutations('footerPlaylist',['setIsPlay']),
        updatePlayList(index){
            this.setIsPlay(true)
            this.updateIndex(index)
            PubSub.publish('bofang')
        }
    },
    setup(props) {
        let songList=reactive({
            tracks:[],
            names:''
        })
        watch(()=>props.musical_detail.tracks,(newV,oldV)=>{
            songList.tracks=newV
        })
        return {
            songList,
            transiMillion1,
            singJoin
        }
    },
    // beforeCreate(){
    //     console.log('初次进入SingList组件，初次创建前----beforeCreate')
    // },
    // created() {
    //     console.log('SingList组件初次创建后----created')
    // },
    // beforeMount(){
    //     console.log('SingList挂载之前----beforeMount')
    // },
    // mounted(){
    //     console.log('SingList挂载之后----mounted',this.$props)
    // },
    // beforeUpdate(){
    //     console.log('【数据】放生变化，SingList更新之前----beforeUpdate')
    // },
    // updated(){
    //     console.log('SingList更新之后----updated')
    // },
    // beforeDestroy() {
    //     console.log('SingList销毁之前----beforeDestroy')
    // },
    // destroyed() {
    //     console.log('SingList销毁之后----destroyed')
    // }
}
</script>

<style lang='less' scoped>
.song-list-box{
    margin-top: .47rem;
    width: 100%;
    height: 19rem;
    background-color: white;
    // padding: 0 .1rem;
    border: none;
    border-top-left-radius: .53rem;
    border-top-right-radius: .53rem;
    border: .02rem solid silver;
    .song-list-header{
        z-index: 1000;
        background-color: white;
        border-top-left-radius: .53rem;
        border-top-right-radius: .53rem;
        width: 100%;
        padding: 0 .1rem .2rem;
        height: 1.2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left-header{
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            .icon,span{
                flex-grow: 1;
            }
            span{
                margin-left: .1rem;
            }
        }
        .right-header{
            background-color: rgb(245, 77, 77);
            border-radius: .8rem;
            height: 68%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            .icon{
                margin-left: .06rem;
                flex-grow: 1;
            }
            span{
                margin-left: .06rem;
                margin-right: .13rem;
                flex-grow: 1;
            }
        }
    }
    .song-list-mian{
        
        div.van-cell{
            padding: 0.08rem .18rem;
            .van-cell__title{
                position: relative;
                margin: 0;
                display: flex;
                span.index{
                    font-size: 0.34rem;
                    margin-right: .3rem;
                    position: absolute;
                    top: 32%;
                    left: 0;
                }
                .index + span{
                    // display: inline-block;
                    display: block;
                    width: 80%;
                    padding-left:.48rem;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-size: .32rem;
                    white-space: nowrap;
                }
                .van-cell__label{
                    span{
                        padding-left:.43rem ;
                    }
                }
            }
        }
    }
}
</style>