<template>
  <header>
      <TopNav/>
      <SwiperTop/>
      <IconList/>
  </header>
      <playList/>
</template>

<script>
// @ is an alias to /src
import TopNav from '@/components/TopNaver.vue'
import SwiperTop from '@/components/SwiperTop.vue'
import IconList from '@/components/IconList.vue'
import playList from '@/components/PlayList.vue'
export default {
  name: 'HomeView',
  components: {
    TopNav,
    SwiperTop,
    IconList,
    playList
  }
}
</script>
