<template>
    <MusicaldetialTop :description='state1.playlist.description' :name='state1.playlist.name' 
    :coverImgUrl='state1.playlist.coverImgUrl' :musical_detail='state1.playlist'/>
    <SongList :musical_detail='state1.playlist' :subscribedCount='state1.playlist.subscribedCount'/>
</template>

<script>
import getMusicalDetail from '@/request/PlayList/getMusicalDetail'
import MusicaldetialTop from '@/components/MusicalDetailComponent/MusicaldetialTop.vue'
import SongList from '@/components/MusicalDetailComponent/SongList.vue'
import {reactive, onBeforeMount} from 'vue'
export default {
    props:['id'],
    setup(props){
        let state1=reactive({
            playlist:{}
        })
        let a=getMusicalDetail(props.id)
        async function demo(){
            let playlist=await a
            state1.playlist=playlist.data.playlist
        }
        demo()
        return {
            state1
        }
    },
    components:{
        MusicaldetialTop,
        SongList
    },
}
</script>

<style lang='less' scoped>
// .musical-detail-header-box{
//     width: 100%;
//     padding: 0 .1rem;
//     .musical-detail-top-bar{
//         padding-top:.1rem ;
//         width: 100%;
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//         .top-left-bar{
//             width: 1.5rem;
//             display: flex;
//             justify-content: space-between;
//             align-items: center;
//             span{
//                 color: whitesmoke;
//             }
//         }
//         .top-right-bar{
//             width: 1.8rem;
//             display: flex;
//             justify-content: space-around;
//             align-items: center;
//         }
//     }
// }
</style>