<template>
  <div class="search-page">
    <div class="search-page-header">
        <!-- 可以使用 CellGroup 作为容器 -->
        <svg class="icon" aria-hidden="true" @click="backToDetail">
            <use xlink:href="#icon-zuojiantou1"></use>
        </svg>
        <van-cell-group inset>
            <van-field v-model.lazy="keyword" placeholder="请输入用户名" />
        </van-cell-group>
        <svg class="icon" aria-hidden="true" @click="searchKeyword(keyword)">
            <use xlink:href="#icon-sousuo"></use>
        </svg>
    </div>
    <div class="search-page-history">
        <span>历史记录</span>
        <span v-for="(mh,index) in musdicalHistory" :key="index" @click="gosing(mh)">
            {{mh}}
        </span>
    </div>
    <div class="search-page-list">
        <van-cell-group :border='false'>
            <van-cell  v-for="(item,index) in slist" :key="index"
               :border="false" @click="clearPlayListandUpadtae(item)">
                <template #title>
                    <span class="index">{{index+1}}</span>
                    <span>{{item.name}}</span>
                </template> 
                 <svg class="icon" aria-hidden="true" v-if="item.mvid">
                    <use xlink:href="#icon-MV-copy-copy"></use>
                </svg>
                <template #right-icon>
                    <svg class="icon" aria-hidden="true" v-if='true'>
                        <use xlink:href="#icon-gengduo"></use>
                    </svg>
                </template>
            </van-cell>
        </van-cell-group>
    </div>
  </div>
</template>

<script>
import getSearch from '@/request/search/search'
import { mapActions } from 'vuex'
import PubSub from 'pubsub-js'
export default {
    data(){
        return {
            keyword:'',
            slist:[],
            musdicalHistory:[]
        }
    },
    mounted(){
        this.musdicalHistory=JSON.parse(localStorage.musdicalHistory)
    },
    methods:{
       async searchKeyword(keyword){
                let response=await getSearch(keyword)
                this.slist=response.data.result.songs
                this.musdicalHistory.push(keyword)
                localStorage.setItem('musdicalHistory',JSON.stringify(this.musdicalHistory))
                console.log(this.slist)
        },
        backToDetail(){
            this.$router.back()
        },
        ...mapActions('footerPlaylist',['clearAndUpadate']),
        clearPlayListandUpadtae(item){
            this.clearAndUpadate(item)
            PubSub.publish('bofang')
        },
        async gosing(keyword){
            let response=await getSearch(keyword)
            this.slist=response.data.result.songs
        }
    }
}
</script>

<style scpoed lang='less'>
.search-page{
    .search-page-header{
        width: 100%;
        padding: .2rem;
        height: .8rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .search-page-list{
        div.van-cell{
            padding: 0.08rem .18rem;
            .van-cell__title{
                position: relative;
                margin: 0;
                display: flex;
                span.index{
                    font-size: 0.34rem;
                    position: absolute;
                    top: 8%;
                    left: 0;
                }
                .index + span{
                    // display: inline-block;
                    display: block;
                    width: 80%;
                    padding-left:.8rem;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-size: .32rem;
                    white-space: nowrap;
                }
                .van-cell__label{
                    span{
                        padding-left:.43rem ;
                    }
                }
            }
        }
    }
}
</style>