<template>
  <div class="icon-list">
        <router-link to='/'  class="icon-p">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-tuijian01"></use>
            </svg>
            <p>每日推荐</p>
        </router-link>
        <router-link to='/' class="icon-p">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-woyaozhibo"></use>
            </svg>
            <p>私人FM</p>
        </router-link>
        <router-link to='/' class="icon-p">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-gedan"></use>
            </svg>
            <p>歌单</p>
        </router-link>
        <router-link to='/' class="icon-p">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-wodeVIP"></use>
            </svg>
            <p>排行榜</p>
        </router-link>
  </div>
</template>

<script>
export default {

}
</script>

<style lang='less'>
a{
    color: rgb(89, 86, 86);
    text-decoration: none;
    font-size: .28rem;
}
.icon-list{
    width: 100%;
    height: 1.4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .icon-p{
        padding: .298rem 0 .21rem;
        width: 17%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
</style>