<template>
  <div class="play-list">
    <div class="paly-list-head">
        <p>发现好歌单</p>
        <button>查看更多</button>
    </div>
    <div id="play-list-show">
        <van-swipe :loop="false" :show-indicators='false' :width='114'>
            <van-swipe-item  v-for="ItemList in state.playList2" :key="ItemList.id" style="width:2.28rem;">
                <div class="content" @click='todetailpage(ItemList.id)'>
                    <img :src="ItemList.picUrl" alt="">
                    <p>{{ItemList.name}}</p>
                </div>
                <div class="icon-count">
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-play"></use>
                    </svg>
                    <span>{{transiMillion(ItemList.playCount)}}</span>
                </div>
            </van-swipe-item>
        </van-swipe>
    </div>
  </div>
</template>

<script>
import { reactive } from '@vue/reactivity'
import { onMounted } from '@vue/runtime-core'
import getPersonalList from '@/request/PlayList/getPersonalList'
import transiMillion from '@/plugins/transiMillion'
import { mapActions } from 'vuex'
export default {
    
    methods:{
        ...mapActions('footerPlaylist',['updateplaylist']),
        todetailpage(id){
            this.updateplaylist(id)
            this.$router.push({
                name:'MusicalListDtailPage',
                query:{id}
            })
        }
    },
    setup(){
        const state=reactive({
            playList2:[],
            playCount:0
        })
        onMounted(async ()=>{
            let playList3=await getPersonalList()
            state.playList2=playList3.data.result
        })
        return {
            state,
            transiMillion
        }
    }
}
</script>

<style scoped lang='less'>
.play-list{
    .paly-list-head{
        width: 100%;
        height: .62rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 0.61em .1rem;
        p{
            font-size: .32rem;
            font-weight: bolder;
        }
        button{
            width: 1.6rem;
            height: 77%;
            background: none;
            border: none;
            border: .02rem solid silver;
            border-radius: .2rem;
            font-size: .28rem;
            color: rgb(94, 91, 91);
        }
    }
    #play-list-show{
        width:7.3rem;
        margin: 0 auto;
        .van-swipe{
            height: 3.5rem;
            .van-swipe__track{
                padding: 0.24rem;
                .van-swipe-item{
                    height: 85%;
                    position: relative;
                    .content{
                        p{
                            font-size: .26rem;
                        }
                        img{
                            width: 94%;
                            border-radius: .1rem;
                        }
                    }
                    .icon-count{
                        position: absolute;
                        right: 0;
                        top: 0;
                        padding: 0 .1rem;
                        width: 66%;
                        display: flex;
                        align-items: center;
                        span{
                            font-size: 0.26rem;
                            color: rgb(234, 230, 230);
                        }
                        .icon{
                            width: 0.34rem;
                        }
                    }
                }
            }
        }
    }
}
</style>