<template>
<div id="swiperBar">
    <van-swipe :autoplay="3000" lazy-render :show-indicators='true'>
        <van-swipe-item v-for="image in state.images" :key="image">
            <img :src="image.pic" />
        </van-swipe-item>
    </van-swipe>
</div>
</template>
<script>
import { onMounted, reactive } from '@vue/runtime-core';
import getImages from '@/request/SwiperTopImages/getImages'
export default {
  setup() {
    let state = reactive({
        images:[]
    });
    onMounted(async ()=>{
        let banners =await getImages()
        state.images=banners.data.banners
    })
    return { state };
  },
}
</script>
<style lang="less" scoped>
#swiperBar{
    width: 100%;
    padding:0.08rem 0.102rem;
    .van-swipe{
        width: 100%;
        height: 3.2rem;
        overflow: hidden;
        .van-swipe-item{
            img{
                width: 100%;
                height: 100%;
                border-radius: .1rem;
            }
        }
        .van-swipe__indicator--active{
            background-color: rgb(249, 103, 103);
        }
}
}

</style>