<template>
  <div class="topNav">
    <div class="left-nav">
        <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-liebiao-copy"></use>
        </svg>
    </div>
    <div class="center-nav">
        <router-link  to="/">我的</router-link>
        <router-link active-class="stongblack" to="/">发现</router-link>
        <router-link  to="/">云村</router-link>
        <router-link  to="/">视频</router-link>
    </div>
    <div class="right-nav">
        <svg class="icon" aria-hidden="true" @click="search">
            <use xlink:href="#icon-sousuo"></use>
        </svg>
    </div>
  </div>
</template>

<script>
import { useRouter } from 'vue-router'
export default {
    setup(){
        const router=useRouter()
        function search(){
            router.push('/search')
        }
        return{
            search
        }
    }
}
</script>

<style scoped lang="less">
.stongblack{
    color: black;
    font-weight: bolder;
}
a{
    color: rgb(89, 86, 86);
    text-decoration: none;
    font-size: 0.32rem;
}
.topNav{
    width: 100%;
    height: 0.78rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .center-nav{
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .left-nav{
        transform: translateY(12%);
    }
    .right-nav{
        transform: translateY(10%);
    }
}
svg.icon{
    width: .43rem;
} 
</style>