<template>
  <div class="footer-play">
    <div class="footer-left" @click="playFramePopUp">
        <img :src="picUrl" alt="">
        <div class="musicContent">
            <span class="musicname">{{playList[playIndex].name}}</span>
            <span>横滑切换上下首</span>
        </div>
    </div>
    <div class="footer-right">
        <svg class="icon" aria-hidden="true" @click="bofang" v-if="!isPlay">
            <use xlink:href="#icon-bofang"></use>
        </svg>
        <svg class="icon" aria-hidden="true" @click="bofang" v-else>
            <use xlink:href="#icon-bofang1"></use>
        </svg>
        <svg class="icon icon2" aria-hidden="true" @click="gedan">
            <use xlink:href="#icon-24gf-playlistMusic"></use>
        </svg>
        <van-popup
            v-model:show="show"
            position="bottom"
            :style="{ height: '54%' }"
            >
            <poplist/>
        </van-popup>
        <audio ref='audio' @ended="ended" :key="audioKey" :src="`https://music.163.com/song/media/outer/url?id=${playList[playIndex].id}`" ></audio>
    </div>
  </div>
  <van-popup
    class="dep"
    v-bind:show="showRight"
    position="right"
    :style="{ width: '100%', height: '100%' }"
    >
    <PlayPopUpFrameHeader :playListDetail="playList[playIndex]" :musicImag="picUrl"/>
    <PlayPopUpFameCenter :isPlay="isPlay" :playListDetail="playList[playIndex]" :musicImag="picUrl"/>
    <PlayPopUpfooter :isPlay="isPlay" :bofang="bofang"/>
  </van-popup>
</template>

<script>
import PlayPopUpFrameHeader from '@/components/playFramePop/PlayPopUpFrameHeader.vue'
import PlayPopUpFameCenter from '@/components/playFramePop/PlayPopUpFameCenter.vue'
import PlayPopUpfooter from '@/components/playFramePop/PlayPopUpfooter.vue'
import poplist from '@/components/footer/poplist.vue'
import {mapActions, mapMutations, mapState } from 'vuex'
import PubSub from 'pubsub-js'
export default {
    components:{poplist},
    computed:{
        ...mapState('footerPlaylist',['playList','isPlay','playIndex','showRight','picUrl','mode'])
    },
    methods: {
        ...mapMutations('footerPlaylist',['setIsPlay','updateShowRight','plusIndex']),
        ...mapMutations('Lyric',['updateAudioCurrentTime1']),
        ...mapActions('footerPlaylist',['setPlayIndex','randomPlayIndex']),
        bofang(){
            if(this.$refs.audio.paused){
                this.audioKey = new Date().getTime()
                this.$nextTick(()=>{
                    this.$refs.audio.play()
                })
                this.setIsPlay(true)
                this.updateaudiocurrenttime()
            }
            else{
                this.$refs.audio.pause()
                this.setIsPlay(false)
                clearInterval(this.IntervalCurrentAudioTime)
            }
        },
        ended(){
            // 当音乐暂停的时候
            if(!this.mode){
                // mode0
                this.plusIndex()
                this.bofang()
            }
            else if(this.mode===1){
                // 单曲循环
                this.setPlayIndex(this.playIndex)
                this.bofang()
            }else{
                // 随机播放
                this.randomPlayIndex()
                this.bofang()
            }
        },
        gedan(){
            this.show=true
        },
        playFramePopUp(){
            this.updateShowRight()
        },
        updateaudiocurrenttime(){
            this.IntervalCurrentAudioTime=setInterval(()=>{
                this.updateAudioCurrentTime1([this.$refs.audio.currentTime,this.$refs.audio.duration])
            },1000)
        }
    },
    data(){
        return {
            IntervalCurrentAudioTime:0,
            audioKey: "",
            show:false
        }
    },
    components:{
        PlayPopUpFrameHeader,
        PlayPopUpFameCenter,
        PlayPopUpfooter
    },
    mounted(){
        console.log('FooterCom挂载之后----mounted',this.$refs)
        // 发布消息
        PubSub.subscribe('bofang',this.bofang)
    },
    updated(){
        if(this.$refs.audio.currentTime===this.$refs.audio.duration){
            console.log(this.$refs.audio.currentTime,'c')
            console.log(this.$refs.audio.duration,'d')
            this.setIsPlay(false)
            // clearInterval(this.IntervalCurrentAudioTime)
        }
        this.$store.dispatch('Lyric/getMusicalyrics',this.playList[this.playIndex].id)
    },

}
</script>

<style lang='less' scoped>

body{
    position: relative;
}
.footer-play{
    width: 100%;
    padding: .2rem .2rem;
    position: fixed;
    bottom: 0;
    height: 1.1rem;
    border-top: .009rem solid rgb(219, 191, 191);
    background-color: rgb(248, 250, 253);
    display: flex;
    justify-content: space-between;
    align-items: center;
    .footer-left{
        display: flex;
        width: 50%;
        height: 100%;
        justify-content: space-around;
        transform: translateX(-3%);
        img{
            width: .73rem;
            border-radius: 50%;
        }
        .musicContent{
            width: 56%;
            height: 111%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
            .musicname{
                width: 100%;
                display: inline-block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .musicname + span{
                font-size: .26rem;
                color: rgb(146, 145, 145);
            }
        }
    }
    .footer-right{
        width: 18%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .icon2{
            width: .46rem;
        }
        /deep/.van-popup--bottom{
            border-top-left-radius: .3rem !important;
            border-top-right-radius: .3rem !important;
        }
    }
}
</style>