<template>
  <div class="pop-list">
    <ul class="pop-list-main">
        <li v-for='(play,index) in playList' :key="index" class="play">
            <p>
                <span>{{index}}</span>
                <span>{{play.name}}</span>
            </p>
            <div class="svgs">
                <svg class="icon" aria-hidden="true" v-if="play.mv">
                    <use xlink:href="#icon-MV-copy-copy"></use>
                </svg>
                <svg class="icon" aria-hidden="true" >
                    <use xlink:href="#icon-gengduo"></use>
                </svg>
            </div>
        </li>
    </ul>
  </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
    computed:{
        ...mapState('footerPlaylist',['playList'])
    },
    mounted(){
        console.log(this.playList)
    }
}
</script>

<style lang='less' scoped>
.pop-list{
    width: 100%;
    padding: .2rem .2rem 0;
    .pop-list-main{
        width: 100%;
        .play{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            p{
                span{
                    margin-right: .2rem;
                }
                width:40%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
            }
            .svgs{
                width: 20%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
            }
        }
    }
}
</style>