<template>
      <router-view :key="$route.query.id"></router-view>
      <FooterComVue/>
</template>
<script>
import FooterComVue from './components/footer/FooterCom.vue'
export default {
  components:{
    FooterComVue
  },
}
</script>
<style lang="less">
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.icon{
  width: .5rem;
  height: .5rem;
}
</style>
